<style>
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  padding-top: 50px;
  font-weight: lighter;
}

#card1, #card2 {
  background-color: black;
  width: 80%;
  margin-left: 20%;
  border-radius: 20px;
  opacity: 0.7;
  left: -40px;
}

.row {
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px;
}


</style>
  <div class='row'>
  <div class='column'>
    <h3>Upcoming Events</h3>
    <ul id="outerlist1">
      <li *ngFor="let event of this.upcoming">
        <div class="row">
          <div class="col s12 m6">
            <div class="card" id="card1">
              <div class="card-content white-text">
                <span class="card-title">{{ event[2] }}</span><br>
                <ul>Event Id: {{ event[0] }}</ul>
                <ul>Date: {{ event[5] }}</ul>
                <ul>Venue: {{ event[6] }}</ul>
                <ul>Participants per team: {{ event[8] }} </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class='column'>
    <h3>Events Already Participated In</h3>
    <ul id="outerlist1">
      <li *ngFor="let event of this.past">
        <div class="row">
          <div class="col s12 m6">
            <div class="card" id="card2">
              <div class="card-content white-text">
                <span class="card-title">{{ event[2] }}</span><br>
                <ul>Event Id: {{ event[0] }}</ul>
                <ul>Date: {{ event[5] }}</ul>
                <ul>Venue: {{ event[6] }}</ul>
                <ul>Participants per team: {{ event[8] }} </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
