<div class='row' >
  <div class="col-md-6 mt-5 mx-auto center">
    <div class="box">
      <h3 class="h3 mb-3 font-weight-normal">Create Event</h3>
      <form [formGroup]="eventForm" (submit)="newEvent()">
      <mat-form-field appearance= "null">
        <mat-label for="event_name">Event Name:</mat-label>
        <input matInput formControlName="event_name" type="text" id="event_name" name="event_name" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance= "null">
        <mat-label for="event_type">Event Type:</mat-label>
        <input matInput formControlName="event_type" type="text" id="event_type" name="event_type" required>
      </mat-form-field>
      <mat-form-field appearance= "null">
        <mat-label for="event_date">Event Date:</mat-label>
        <input matInput formControlName="event_date" type="date" id="event_date" name="event_date" required>
      </mat-form-field>
      <mat-form-field appearance= "null">
        <mat-label for="event_venue">Event Venue:</mat-label>
        <input matInput formControlName="event_venue" type="text" id="event_venue" name="event_venue" required>
      </mat-form-field>
      <mat-form-field appearance= "null">
        <mat-label for="max_par">Maximum Participants per team:</mat-label>
        <input matInput formControlName="max_par" type="number" id="max_par" name="max_par" required>
      </mat-form-field>
      <mat-form-field appearance= "null">
        <mat-label for="fee">Fee per team:</mat-label>
        <input matInput formControlName="fee" type="number" id="fee" name="fee" required>
      </mat-form-field>
      <mat-form-field appearance= "null">
        <mat-label for="max_teams">Max number of teams:</mat-label>
        <input matInput formControlName="max_teams" type="number" id="max_teams" name="max_teams" required>
      </mat-form-field>
      <mat-form-field appearance= "null">
        <mat-label for="funds">Funds Allocated:</mat-label>
        <input matInput formControlName="funds" type="number" id="funds" name="funds" required>
      </mat-form-field><br>
      <button type="submit" class="btn waves-effect waves-light" ng-disable="infoForm.$invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
