mat-form-field {
  margin: 10px;
}
.box{
  position: relative;
  border-radius: 20px;
  left: -20px;
  width: 700px;
  height: auto;
  background-color: snow;
  padding: 10px;
  margin-top: 0px;
  opacity: 0.8;
}