<nav class = "nav-wrapper teal lighten-2">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a routerLink='/' class='nav-link'><i>Home</i></a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a *ngIf="!show() && !check()" routerLink='/login' class='nav-link'><i>Login</i></a>
        </li>
        <li>
          <a *ngIf="!show() && !check()" routerLink='/register' class='nav-link'><i>Register</i></a>
        </li>
        <li>
          <a *ngIf="show() && check()" routerLink='/profile' class='nav-link'><i>Profile</i></a>
        </li>
        <li>
          <a *ngIf="show() && check()" routerLink='/' class='nav-link'><i (click)="setempty()">Logout</i></a>
        </li>
      </ul>
    </div>
</nav>
<script type="text/javascript" src="js/materialize.min.js"></script>
<router-outlet></router-outlet>
