<nav class = "nav-wrapper teal lighten-2">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a routerLink='/' class='nav-link'><i>Home</i></a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a *ngIf="!show() && !show1()" routerLink='/login' class='nav-link'><i>Login</i></a>
        </li>
        <li>
          <a *ngIf="!show() && !show1()" routerLink='/register' class='nav-link'><i>Register</i></a>
        </li>
        <li>
          <a *ngIf="show() && !show1()" routerLink='/profile' class='nav-link'><i>Profile</i></a>
        </li>
        <!--
          Change links for students below, add your own routerLinks
        -->
        <li>
          <a *ngIf="!show() && show1()" routerLink='/studentprofile' class='nav-link'><i>Profile</i></a>
        </li>
        <li>
          <a *ngIf="!show() && show1()" class='nav-link'><i>Dummy2</i></a>
        </li>
        <!-- Till here, after this logout should be present in both -->
        <li>
          <a *ngIf="show() || show1()" routerLink='/' class='nav-link'><i (click)="setempty()">Logout</i></a>
        </li>
        <li>
      </ul>
    </div>
</nav>
<script type="text/javascript" src="js/materialize.min.js"></script>
<div style="background-image: './more-leaves.jpg';"></div>
<router-outlet></router-outlet>
