<style>
  table {
    width: 70%;
    margin-left: 15%;
    opacity: 0.7;
  }

  h1, h2 {
    text-align: center;
    padding-top: 30px;
    opacity: 0.8;
    color: azure;opacity: 0.8; top: 100px; left: 250px;
  }


</style>
<h1> Make your team. </h1>
<h2>We found users with interests similar to yours! Contact them now and create your team.</h2>
<table mat-table [dataSource]="serverData" class="mat-elevation-z8">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element[1]}} {{element[2]}} </td>
  </ng-container>
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
