<h1 mat-dialog-title>Prize for {{ this.data.event[2] }}</h1>
<div mat-dialog-content>
  <p>Which prize do you want to award?</p>
  <mat-form-field>
    <mat-label>Prize: </mat-label>
    <input matInput [(ngModel)]="prize">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Team Registration ID: </mat-label>
    <input matInput (focus)="onchange()" [(ngModel)]="r_id">
  </mat-form-field>
</div>
<div *ngIf="message1">{{ message1 }}</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClick()">Ok</button>
  <button mat-button (click)="onNoClick()">Close</button>
</div>

