.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

h1 {
  text-align: center;
}

#card1, #card2 {
  width: 60%;
  margin-left: 20%;
}

.row {
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px;
}
